.signupcomponent {
    display: grid;
    grid-template-columns: 128px auto;
    grid-template-rows: 64px auto 1fr;
    margin: 10px auto 0;
    width: 408px;
    background-color: saddlebrown;
    color:white;
    padding: 9px;
    border-radius: 10px;
    overflow: hidden;
}

.titleBox
{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    overflow: hidden;
}
.welcomeBox
{
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    font-size: 11pt;
}

.inputSections
{
    display: grid;
    grid-column: 2 / 2;
    grid-row: 2 /  2;
    grid-auto-flow: row;
    overflow: hidden;
    padding-left: 9px;
    
}

.inputSection
{
    display: grid;
    color: white;
    grid-template-columns: 128px auto;
    grid-template-rows: auto 16px auto;
}

.inputField
{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    overflow: hidden;
    margin: 0;
    font-size: 11pt;
    text-align: left;
}

.inputBox
{
    grid-column: 2 / 2;
    grid-row: 1 / span 3;
    width: 100%;
}

.submitBox
{
    width: 48px;
    margin-right: 0;
    margin-left: auto;
    font-size: 8pt;
}
.errorBox
{
    grid-column: 1 / span 2;
    grid-row: 3 / 3;
    color: red;
    text-align: right;
    font-size: 16pt;
}
