
<section class="signupcomponent">
    <div class="titleBox">
        <h1 style="font-size: 32pt;margin: 0">
            Sign up
        </h1>
    </div>
    <div class="welcomeBox">
        <i>
            Welcome to MiniTwit. Please enter your desired credentials.
        </i>
    </div>
    <div style="grid-column: 2 / 2;grid-row: 1 / span 2;height: 100%; width: 20px;"></div>
    <div class="inputSections">
        <div class="inputSection">
            <p class="inputField">
                Username:
            </p>
            <input v-model="username" type="text" class="inputBox">
        </div>
        <div class="inputSection">
            <p class="inputField">
                Password:
            </p>
            <input v-model="password"  type="password" class="inputBox">
        </div>
        <input type="submit" class="submitBox" v-on:click="handleSubmit">
    </div>
    <div class="errorBox"> {{errorMessage}} </div>
</section>

