
<section class="createpost" v-if="!isTransmitting">
    <div id="headerDiv">
        <div id="headLineDiv">
            <h1 id="headLine">Share a thought</h1>
        </div>
        <select id="AccessSelector" v-model="selectedAccessMode">
            <option value=2>Public</option>
            <option value=4>Friends only</option>
            <option value=8>Only me</option>
        </select>
    </div>
    <textarea class="textDiv" placeholder="Write a thought here" v-model="userText"></textarea>
    <div class="footerDiv">
        <div class="fontDiv">
            <p class="label">Font:</p>
            <select class="fontSelector">
            </select>
        </div>
        <button class="submitButton" v-on:click="handleShare">Share</button>
    </div>
</section>

