.createpost {
    display: grid;
    grid-template-rows: 64px auto 5px;
    background-color: saddlebrown;
    overflow: hidden;
    border-radius: 5px;
}

#headerDiv
{
    display: grid;
    grid-row: 1 / 1;
    grid-template-columns:9px 256px 1fr auto 9px;
    overflow: auto;
}

#headLineDiv{
    color: white;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    grid-column: 2 / 2;
    height: 36px;
    margin-top: auto;
    margin-bottom: auto;
}
#headLine
{
    margin:0;
    font-size: 24pt;
    
}

#AccessSelector{
    grid-column: 3 / 3;
    justify-self: end;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
}
#AccessSelector:focus
{
    outline: none;
}

.submitButton{
    grid-column: 4 / 4;
    justify-self: end;
    border-radius: 10px;
    height: 36px;
    margin-top: auto;
    margin-bottom: auto;
}
.submitButton:focus
{
    outline: none;
}

.submitButton:hover
{
    opacity: 0.75;
}
.textDiv
{
    padding: 9px;
    min-height: 128px;
    resize: none;
    font-size: 17pt;
    background-color: transparent;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: white;
    grid-row: 2 / 2;
}
.textDiv:focus{
    outline: none;
}

.footerDiv{
    grid-row: 3 / 3;
    background-color: black;
}