
<section class="managefollowers">
    <div class="contentDiv">
        <div class="titleDiv" >Followers</div>
        <div class="followersContentDiv">
            <p style="color: white;font-size:19pt;" v-if="this.followers.length === 0">You are not following any users.</p>
            <div class="followerColumn" v-for="follower in this.followers">
                <p class="userNameDiv">{{follower.userName}}</p>
                <button class="followerButton" v-on:click="handleClickEvent(follower.id)">Unfollow</button>
            </div>
        </div>
    </div>
</section>

