.itemLinkBody:link
{
    text-decoration: none;
}
.itemBody {
    display: grid;
    grid-auto-flow: row;
    overflow: hidden;
    background-color: saddlebrown;
    padding: 5px;
}

.itemBody:hover{
    opacity: 0.75;
}

.imageContainer
{
    display: grid;
}

.itemImage
{
    display: block;
    margin: auto auto 0;
    overflow: hidden;
}

.itemDescription
{
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
