
.noMargins{
    margin:0;
}
.textCenter
{
    text-align: center;
}
.center
{
    margin: auto;
}

.upperLeft
{
    margin: 0 auto auto 0;
}

.templateContainer
{
    display: grid;
    grid-auto-flow: row;
    width: 1280px;
    
}