.headercomponent {
    display: grid;
    grid-template-columns: 64px 264px auto 264px 64px;
    grid-template-rows: 96px;
    width: 1280px;
    border-bottom: 12px solid #2c3e50;
    color: black;
}
.headertitle
{
    grid-column: 3 / 3;
    font-size: 96px;
    margin: 0;
    text-align: center;
    color: black;
}

.headertitle:link
{
    text-decoration: none;
    color: black;
}
.centerItem
{
    margin-left: auto;
    margin-right: auto;
}
