.headercomponent {
    display: grid;
    grid-template-columns: 64px 264px auto 264px 64px;
    grid-template-rows: 96px;
    width: 1280px;
    border-bottom: 12px solid saddlebrown;
    color: black;
    margin-left: auto;
    margin-right: auto;
}
.headertitle
{
    grid-column: 3 / 3;
    font-size: 96px;
    margin: 0;
    text-align: center;
    color: white;
}

.headertitle:link
{
    text-decoration: none;
    color: black;
}
.navBarDiv{
    grid-column: 4 / 4;
    margin-top:auto;
    height: 51px;
    justify-self: center;
}

.centerItem
{
    margin-left: auto;
    margin-right: auto;
}
