.signedinmessagescomponent {
    display: grid;
    width: 100%;
    min-height: 768px;
    grid-template-columns: 512px 1fr;
}

.toolDiv{
    grid-column: 1/ 1;
    width: 95%;
    height: 512px;
    border-radius: 10px;
    justify-self: center;
    margin-top: 64px;
    margin-left: 6px;
    margin-bottom: auto;
}
.toolDivContent
{
    display: grid;
    grid-auto-flow: row;
    font-size: 24pt;
    padding: 12px;
    color: white;
}

.userImage
{
    grid-column: 1 / 1;
    width: 384px;
    height: 384px;
    justify-self: center;
}

.messagesDiv{
    display: grid;
    grid-column: 2 / 2;
    width: 90%;
    margin-top: 64px;
    justify-self: center;
    overflow: auto;
    justify-items: center;
    grid-auto-flow: row;
    margin-bottom: auto;
}

