
<section class="messagecomponent">
    <div class="messageHeaderDiv">
        <img src="../../assets/thought.png" alt="Not found" class="messageLogo">
        <div class="metaDiv">
            <TextBox class="nameContainer" fontSize="16pt" fontColor="white" backgroundColor="black" radius="5px" :text=author_name></TextBox>
        </div>
        <div class="accessAndDateDiv">
            <div id="accesDiv">
                <p id="accesContentDiv">
                    {{translatedAccessMode}}
                </p>
            </div>
            <div class="dateDiv">
                <div class="dateContentDiv">
                    {{pub_date}} {{pub_time}}
                </div>
            </div>
        </div>
        <div class="menuDiv">
            <DropDownMenu>
                <CustomMenuItem itemtext="Delete" imageFileName="delete.png" v-if="this.isUsersOwnPost(author_id)" @click="this.handleRequestDeleteMessage"></CustomMenuItem>
                <CustomMenuItem itemtext="Report as ''non-offensive''" imageFileName="alert.png"></CustomMenuItem>
            </DropDownMenu>
        </div>
    </div>
    <div class="messageContentDiv leftPadding" v-html="formattedText">
    </div>
</section>

