.messagecomponent {
    display: grid;
    grid-template-rows: 72px auto;
    background-color: saddlebrown;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 6px;
    margin-top: 6px;
}
.messageHeaderDiv
{
    display: grid;
    grid-template-rows: 8px auto 8px;
    grid-template-columns: 8px 72px 1fr 128px 64px 8px;
    grid-row: 1 / 1;
    border-bottom: 1px solid black;
    height: 100%;
    width: 100%;
}

.messageLogo
{
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    width: 56px;
    height: 56px;
}
.metaDiv
{
    display: grid;
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    grid-auto-flow: row;
}
.nameContainer
{
    justify-self: start;
}
.accessAndDateDiv
{
    grid-column: 4 / 4;
    grid-row: 2 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    width: 128px;
}
#accesDiv
{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row: 1 / 1;
    grid-column: 1 / span 2;
    justify-self: end;
    width: 128px;
    color: white;
    background-color: sandybrown;
    border-radius: 10px;
}
#accesContentDiv
{
    text-align: center;
    margin: 0;
    grid-row: 2 / 2;
    color: black;
    font-size: 13pt;
}
.dateDiv
{
    grid-row: 2 / 2;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-rows: auto auto auto;
    color: white;
    margin-top: auto;
    justify-self: end;
    width: 128px;
}
.dateContentDiv{
    grid-row: 2 / 2;
    font-size:9pt;
    font-style: italic;
    margin: 0;
    text-align: center;
}
.menuDiv
{
    grid-column: 5 / 5;
    grid-row: 2 / 2;
}
#followButtonDiv
{
    grid-row: 2 / 2;
    grid-column: 1 / span 2;
    width: 128px;
    justify-self: end;
}
.messageContentDiv
{
    grid-row: 2 / 2;
    width: 100%;
    border-bottom: 1px solid black;
    min-height: 96px;
    font-size: 15pt;
    padding-top: 5px;
    color: white;
}

.leftPadding
{
    padding-left:12px;
}