
<section class="messagecomponent">
    <div class="messageHeaderDiv">
        <img src="../../assets/thought.png" alt="Not found" class="messageLogo">
        <div class="metaDiv">
            <TextBox class="nameContainer" fontSize="16pt" fontColor="white" backgroundColor="black" radius="5px" :text=author_name></TextBox>
        </div>
        <div class="accessAndDateDiv">
            <div id="accesDiv">
                <p id="accesContentDiv">
                    {{translatedAccessMode}}
                </p>
            </div>
            <div class="dateDiv">
                <div class="dateContentDiv">
                    {{pub_date}} {{pub_time}}
                </div>
            </div>
        </div>
        <div class="menuDiv">
            <DropDownMenu ref="menu">
                <CustomMenuItem itemtext="Delete" imageFileName="delete.png" v-if="isUsersOwnPost(author_id)" v-on:click.native="handleRequestDeleteMessage"></CustomMenuItem>
                <CustomMenuItem itemtext="Follow user" imageFileName="follow.png" v-if="!(isUsersOwnPost(author_id) || isFollowing)" v-on:click.native="handleFollowUser"></CustomMenuItem>
                <CustomMenuItem itemtext="Unfollow user" imageFileName="follow.png" v-if="!(isUsersOwnPost(author_id) || !isFollowing)" v-on:click.native="handleUnFollowUser"></CustomMenuItem>
                <CustomMenuItem itemtext="Report as non-offensive" imageFileName="alert.png" v-on:click.native="handleReportPost"></CustomMenuItem>
            </DropDownMenu>
        </div>
    </div>
    <div class="messageContentDiv leftPadding" v-html="formattedText">
    </div>
</section>

